/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.font-grey {
    color: #828282;
} 

/* layout */

#wrapper {
    display: flex;
    height: calc(100vh - 100px);
}

.left-navbar {
    width: 50px;
    background-color: black;
    flex-shrink: 0;
}

#main-section {
    flex-grow: 1;
    overflow-y: scroll;
}

#main-header {
    height: 100px;
    width: calc(100% - 50px);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.albums-section {
   background-color: rgb(21, 25, 33);
   padding-top: 100px;
}

footer {
    height: 100px;
    background-color: rgb(40, 40, 40);
    z-index: 2;
}

/***** colonna sinistra - navbar *****/

.left-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.left-navbar a {
    display: inline-block;
    padding: 5px 11px 5px 11px;
    text-decoration: none;
    color: white;
}

a#small-download {
    padding-left: 17px;
    padding-right: 17px;
}

a#profile-color img {
    background-color: rgb(128, 128, 128);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0px;
}

.invisible, #logo {
    display: none;
}

/* media query navbar */
@media screen and (min-width: 576px) {
    .left-navbar {
        width: 200px;
    }

    #main-header {
        width: calc(100% - 200px);
    }

    #logo-small {
        display: none;
    }

    .visible, #logo {
        display: inline-block;
    }

    #logo {
        width: 75%;
        margin: 10px 0;
    }

    .home-link, .search-link, .library-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .home-link a, .search-link a, .library-link a  {
        padding-right: 0;
        width: 20%;
    }

    .home-link span a, .search-link span a, .library-link span a {
        padding: 0;
        padding-left: 5px;
        width: 100%;
        font-size: 0.8rem;
        font-weight: bold;
        color: #828282;
    }

    .home-link span a {
        color: white;
    }
}    

/***** colonna destra - header *****/

#main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}

#main-header a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
}

/***** colonna destra - albums section row1 *****/

.albums-section {
    padding: 120px 20px 20px 20px;
}

.albums-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.albums-section .row.nav-top a {
    text-decoration: none;
    text-transform: uppercase;
    color: #828282;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 10px 10px 20px 10px;
    flex-shrink: 0;
}

/***** colonna destra - albums section row2 *****/

.albums-section .nav-top + h2 {
    padding: 30px 0;
}

.albums-section .row.recently,
.albums-section .row.create-for,
.albums-section .row.artists {
    justify-content: flex-start;
    align-items: flex-start;
}

.albums-section .row [class*='col'] {
    padding: 5px;
}

.albums-section h4 {
    padding: 10px 0;
} 

/***** colonna destra - albums section row3 *****/

.albums-section h2 {
    padding: 30px 0 10px 0;
}

.albums-section h2 + h6 {
    padding-bottom: 30px;
}

/***** colonna destra - albums section row4 *****/

.albums-section .row.artists img {
    border-radius: 50%;
}
