/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.font-grey {
    color: #828282;
} 

/* layout */

#wrapper {
    display: flex;
    height: calc(100vh - 100px);
}

.left-navbar {
    width: 50px;
    background-color: black;
    flex-shrink: 0;
}

#main-section {
    flex-grow: 1;
    overflow-y: scroll;
}

#main-header {
    height: 100px;
    width: calc(100% - 50px);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.albums-section {
   background-color: rgb(21, 25, 33);
   padding-top: 100px;
}

footer {
    height: 100px;
    background-color: rgb(40, 40, 40);
    z-index: 2;
}

/***** colonna sinistra - navbar *****/

.left-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.left-navbar a {
    display: inline-block;
    padding: 5px 11px 5px 11px;
    text-decoration: none;
    color: white;
}

#small-download {
    padding-left: 17px;
    padding-right: 17px;
}

a#profile-color img {
    background-color: rgb(128, 128, 128);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0px;
}

.invisible, #logo {
    display: none;
}

/* media query navbar */
@media screen and (min-width: 576px) {
    .left-navbar {
        width: 200px;
    }

    #main-header {
        width: calc(100% - 200px);
    }

    #logo-small {
        display: none;
    }

    .visible, #logo {
        display: inline-block;
    }

    #logo {
        width: 75%;
        margin: 10px 0;
    }

    [class$='-link'] {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    [class$='-link'] a {
        padding-right: 0;
        width: 20%;
    }

    [class$='-link'] span a {
        padding: 0;
        padding-left: 5px;
        width: 100%;
        font-size: 0.8rem;
        font-weight: bold;
        color: #828282;
    }

    .home-link {
        border-left: 4px solid rgb(192, 250, 91);
    }

    .home-link span a {
        color: white;
    }

    .playlist {
        padding-top: 15px;
        padding-left: 11px;
    }

    .playlist h5 {
        text-transform: uppercase;
    }

    .playlist .add {
        text-align: center;
        height: 35px;
        line-height: 35px;
        font-size: 0.9rem;
        font-weight: bold;
        margin: 10px 0 5px 0;
    }

    .playlist .plus {
        display: inline-block;
        background-color: #828282;
        color: black;
        height: 35px;
        width: 35px;
        padding: 0;
        text-align: center;
        font-size: 1.3rem;
        margin-right: 5px;
    }

    .list-name {
        height: 100px;
        overflow-y: scroll;
    }

    .list-name ul li {
        list-style-type: none;
        font-weight: bold;
        font-size: 0.8rem;
        padding: 5px 0;
    }

    .list-name a {
        color: #898989;
        padding-left: 0;
    }

    .small-download-link {
        align-items: center;
    }

    #small-download {
        padding: 5px 0 5px 11px;
        width: 15%;
    }

    #small-download img {
        vertical-align: middle;
    }

    .rule {
        border-top: 1px solid #898989;
        margin: 5px 11px;
    }

    .profile-color-link span a {
        color: white;
        font-size: 1rem;
        padding-left: 10px;
    }
}

/***** colonna destra - header *****/

#main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}

#main-header a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
}

/***** colonna destra - albums section row1 *****/

.albums-section {
    padding: 120px 20px 20px 20px;
}

.albums-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.albums-section .row.nav-top a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #828282;
    font-size: 0.7rem;
    font-weight: 700;
    margin: 10px 10px 3px 10px;
}
 .nav-top .col:first-child {
    position: relative;
 }

.special::after {
    content:'';
    display: block;
    position: absolute;
    right: 40px;
    bottom: 5px;
    width: 30px;
    border-top: 2px solid rgb(192, 250, 91);
}


/***** colonna destra - albums section row2 *****/

.albums-section .nav-top + h2 {
    padding: 30px 0;
}

.albums-section .row.recently,
.albums-section .row.create-for,
.albums-section .row.artists {
    justify-content: flex-start;
    align-items: flex-start;
}

.albums-section .row [class*='col'] {
    padding: 5px;
}

.albums-section h4 {
    padding: 10px 0;
} 

/***** colonna destra - albums section row3 *****/

.albums-section h2 {
    padding: 30px 0 10px 0;
}

.albums-section h2 + h6 {
    padding-bottom: 30px;
}

/***** colonna destra - albums section row4 *****/

.albums-section .row.artists img {
    border-radius: 50%;
}

/***** footer *****/

footer.row {
    align-items: center;
}

footer .col-xs {
    flex-grow: 0;
}

/* footer left */
.footer-left, .album-left {
    display: flex;
    align-items: center;
}

.album-img {
    width: 50px;
    padding: 10px;
}

.album-text h5 {
    font-size: 0.8rem;
}

.album-text h6 {
    font-size: 0.6rem;
}

.icon-left {
    margin-left: 30px;   
}

/* footer center */

.col-xs.footer-center {
    flex-grow: 1;
    margin: 0 30px;
    max-width: 450px;
}

.icon-center > i {
    margin: 10px 5px;
    vertical-align: middle;
}

.icon-center .fa-play-circle {
    font-size: 2rem;
    margin-left: 15px;
    margin-right: 15px;
}

.time-bar {
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    font-weight: 600;
}

.time-bar > div,
.icon-right > div {
    margin: 5px;
}

.big-bar, .small-bar {
    flex-grow: 1;
    width: 100%;
    height: 4px;
    background-color: #898989;
    border-radius: 5px;
}

.big-load, .small-load {
    width: 20%;
    height: 4px;
    background-color: rgb(193, 193, 193);
    border-radius: 5px;
}

/* footer right */

.icon-right {
    display: flex;
    align-items: center;
}

.small-bar {
    width: 70px;
    flex-grow: 0;
}

.small-load {
    width: 20px;
}

/* media query footer */

@media screen and (min-width: 768px) {
    .icon-left {
        display: flex;
    }

    .icon-left > div {
        margin: 0 5px;
    }

    .icon-right > div {
        margin: 10px;
    }
}

@media screen and (max-width: 390px) {
    .footer-left {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .footer-right {
        display: none;
    }
}
