/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.font-grey {
    color: #828282;
} 

/* layout */

#main-content {
    display: flex;
}

#left-navbar {
    width: 50px;
    background-color: black;
    flex-shrink: 0;
}

#main-section {
    flex-grow: 1;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

#main-header {
    height: 100px;
    width: calc(100% - 50px);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.albums-section {
   background-color: rgb(21, 25, 33);
   padding-top: 100px;
}

footer {
    height: 100px;
    background-color: rgb(40, 40, 40);
}

@media screen and (min-width: 576px) {
    #left-navbar {
        width: 150px;
    }
}

/***** colonna sinistra - nav *****/

#left-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#left-navbar a {
    display: inline-block;
    padding: 3px 11px 5px 11px;
}

a#small-download {
    padding-left: 17px;
    padding-right: 17px;
}

a#profile-color img {
    background-color: rgb(128, 128, 128);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0px;
}

/***** colonna destra - header *****/

#main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

#main-header a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
}

/***** colonna destra - albums section row1 *****/

.albums-section {
    padding: 120px 20px 20px 20px;
}

.albums-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.albums-section .row.nav-top a {
    text-decoration: none;
    text-transform: uppercase;
    color: #828282;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px 10px 20px 10px;
    flex-shrink: 0;
}

/***** colonna destra - albums section row2 *****/

.albums-section .nav-top + h2 {
    padding: 30px 0;
}

.albums-section .row.recently,
.albums-section .row.create-for,
.albums-section .row.artists {
    justify-content: flex-start;
    align-items: flex-start;
}

.albums-section .row [class*='col'] {
    padding: 5px;
}

.albums-section h4 {
    padding: 10px 0;
} 

/***** colonna destra - albums section row3 *****/

.albums-section h2 {
    padding: 30px 0 10px 0;
}

.albums-section h2 + h6 {
    padding-bottom: 30px;
}

/***** colonna destra - albums section row4 *****/

.albums-section .row.artists img {
    border-radius: 50%;
}
